        a {
            text-decoration: none;
            color: black;
        }
        h1, h4, ol {
            margin: 0;
        }
        p {
            margin: 5px 0;
        }
        textarea {
            width: 80%;
            height: 80px;
        }
        button {
            margin: 10px 10px 10px 10px;
        }
        .ShowThreadtop-bar {
            background-color: skyblue;
            padding: 0 40px;
        }
        .ShowThreadmain {
            background-color: transparent;
            padding: 10px 40px;
        }
        .ShowThreadcomments {
            margin: 40px 0;
        }
        .ShowThreadcomment {
            margin: 10px 0;
        }
        .ShowThreadrow {
            padding: 5px 0;
        }
        .ShowThreadbottom, .ShowThreadtop-comment {
            display: flex;
            color: black;
            font-size: 14px;
            background-color: #c1ebe7;
        }
        .ShowThreadcomment-content{
          text-align: center;
        }
        .ShowThreadtimestamp {
            display: inline;
            padding-right: 10px;
        }
        .ShowThreadcomment-ts {
            padding-left: 10px;
        }
.ShowThreadcontainer {
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: #3f3d3d;
  width: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  border-radius: 0.3rem;
  padding: 1rem;
  z-index: 5; /* Higher than the z-index of the background */
}

.ShowThreadconfirmation-text {
  display: flex;
  color: white;
  margin: 0.5rem 0 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
}

.ShowThreadbutton-container {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.ShowThreadconfirmation-button {
  display: inline-flex;
  background-color: #85cc00ee;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}
.ShowThreadsubmit-button {
  display: inline-flex;
  background-color: #85cc00ee;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.ShowThreadcancel-button {
  background-color: #2adbcd;
}

.ShowThreadconfirmation-button:hover {
  background-color: green;
  cursor: pointer;
}

.ShowThreadcancel-button:hover {
  background-color: #b2b2b2;
  cursor: pointer;
}
.ShowThreadconfirm-bg {
  position: fixed;
  margin: auto;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0.50;
  overflow: hidden; /* disable scrolling*/
  z-index: 2; /* higher than all other items, but lower than 
    the confirm box*/
}
.ShowThreadquestion_card{
  background-image:  url("images\\bg4.jpg");
  margin-left: -35px;
}